
    <footer class="grid-spaceBetween bg-dark text-white padded padded-b-0">

      <div class="col-3_sm-5_xs-12-middle">
          <h1 class="footer-h1"> Alfred Schuler </h1>
          <p class="margin-b-0 padded-t-5 sm-padded-t-1"> LifeCoach & Speaker. </p>
          <p class="margin-b-05"> Stay positive! </p>
          <a href="mailto:alfred.schuler@bluewin.ch" class="email padded-b-05"> alfred.schuler@bluewin.ch </a>
          <a href="https://www.theta-welten.ch/" target=”_blank”> Theta Welten Schwyz GmbH </a>
          <a href="https://www.aromaworld.ch/" target=”_blank”> Aromawold </a>
      </div>

      <nav class="col-3_xs-12-middle">
          <p class="links-footer underline xs-padded-08 block"> Links </p>
          <a href="/index"> Home </a>
          <a href="/blog"> Blog </a>
          <a href="/podcast"> Podcast </a>
          <a href="/blog-archiv"> Archiv </a>
          <a href="/about"> About </a>
      </nav>

      <div class="col-12-middle center padded-t-1">
          <a href="https://www.instagram.com/lifestyleformenandwomen/" target="_blank" class="inline"><i class="fa-brands fa-instagram"></i></a>
          <!--<a href="#" class="inline"><i class="fa-brands fa-pinterest"></i></a>
          <a href="#" class="inline"><i class="fa-brands fa-youtube"></i></a>--> 
      </div>

      <div class="col-12-middle center padded-t-2 padded-b-05">
          <p> Copyright 2022 </p>
      </div>
  </footer>
  