
<header class="grid-middle bg-dark text-white padded-0">
  
    <div class="col-6_sm-10">
        <div class="padded-1-5 logo-header margin-b-minus-1 sm-padded-l-05">
          <a href="/" class="logo sm-smaller-text-1"> Alfred Schuler </a>
        </div>
    </div> 

    <nav class="col-6-right right padded-1-5 hide-sm padded-05">

      <a href="/index"> Home </a>
      <a href="/blog"> Blog </a>
      <a href="/podcast"> Podcast </a>
      <a href="/blog-archiv"> Archiv </a>
      <a href="/about"> About </a>
      
    </nav> 

    <div class="col-7 right show-sm">
      <a class="hamburger-button"> &#9776; </a>
    </div>
  </header>
  
  <div class="mobile-menu"> 
    <nav> 
      <a href="/index"> Home </a>
      <a href="/blog"> Blog </a>
      <a href="/podcast"> Podcast </a>
      <a href="/blog-archiv"> Archiv </a>
      <a href="/about"> About </a>
    </nav>
  </div> 



<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 