<footer class="padded-1 center">
    <div class="padded-1">
      <a href="#" class="logo"> Alfred Schuler </a>
    </div>
    <div>
      <h4> Links </h4>
      <a href="https://www.theta-welten.ch/"> Theta Welten Schwyz GmbH </a> <br>
      <a href="https://www.aromaworld.ch/"> Aromawold </a>
    </div>
    <nav class="padded-1">
        <a href="#"> <i class="fa-brands fa-instagram"></i></a>
        <a href="#"> <i class="fa-brands fa-pinterest"></i></a>
        <a href="#"> <i class="fa-brands fa-youtube"></i></a>   
    </nav> 
  </footer>
  