---
layout: default
---

<section class="bg-v-light">
    <section class="padded capped-width-narrow blog-content">


            <div class="intro padded-1 center margin-b-2">

                <h1> {{ page.title }} </h1>
                
                <p class="post-info"> by {{ page.author }} | {{ page.date | date_to_string }} </p>
            
            </div>

            <div class="padded-1">

                {{content}}

            </div>
            
            {% include social-share.html %}


    </section>
</section>

<!--- {% include related-posts.html %} --->

<section class="padded padded-b-2 archive bg-dark text-white">

    <div class="capped-width-narrow padded-05 center margin-b-1">
        <h2> Weitere Blogposts </h2>
    </div>

    <div class="capped-width grid">

        {% for post in site.posts limit: 6 %}

        <a class="col-6_md-12-middle post-item padded-2 sm-padded-1" href="{{ post.url }}">
            <div class="grid">
                <div class="col-3-middle">
                    <div class="bg-image square" style="background-image:url( '{{ post.featured_image }}' );"></div>
    
                </div>
                <div class="col-9-middle padded-1">
            
                    <h4 class="margin-t-05 margin-b-05 subtle-heading-xs"> {{ post.title }} </h4>
                    <p class="subtitle hide-xs"> {{ post.description }} </p>
            
                </div>
            </div>
        </a>

        {% endfor %}

        <div class="col-12-middle center padded-2">
            <a class="button" href="/blog-archiv"> Erfahre mehr </a>
        </div>

    </div>

</section>

<section class="padded">
    <div class="capped-width-narrow">

        <h2 class="center">About Me</h2>  
        <p> Your chance to show why thy should stick around, since you don't have a sidebar in this layout. Tempore non voluptatem aperiam culpa iste nostrum, nihil quae autem optio fugit laboriosam facere sint labore exercitationem tenetur sunt? Voluptate, voluptas repellendus.</p>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore non voluptatem aperiam culpa iste nostrum, nihil quae autem optio fugit laboriosam facere sint labore exercitationem tenetur sunt? Voluptate, voluptas repellendus.</p>
    
    </div>
</section>